
{% extends 'Ib7Base.html' %}
{% block content %}
{% load static %}
<div class="container-xxl flex-grow-1 container-p-y">

    <nav aria-label="breadcrumb" style="display: block;">
        <ol class="breadcrumb breadcrumb-style2 mb-0">
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">خانه</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'instalment_app:CostumerList' %}">لیست مشتریان</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">ثبت مشتری جدید</a>
          </li>
     
        </ol>
      </nav>
  <br>

    <hr class="container-m-nx border-light mt-5">

    <h5 class="mt-5 mb-3 secondary-font">گردونه Swiper</h5>

    <div class="row">

      <!-- Gallery effect-->
      <div class="col-12">
        <h6 class="text-muted mt-3">گالری تصاویر بندانگشتی</h6>
        <div id="swiper-gallery">
          <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                {% for document in costumer_obj.documnent.all %}
              <div class="swiper-slide" style="background-image: url({{document.file_image.url}})">
                <a href="{{document.file_image.url}}" target="_blank" class="btn btn-sm btn-icon dropdown-toggle hide-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14 12c-1.095 0-2-.905-2-2 0-.354.103-.683.268-.973C12.178 9.02 12.092 9 12 9a3.02 3.02 0 0 0-3 3c0 1.642 1.358 3 3 3 1.641 0 3-1.358 3-3 0-.092-.02-.178-.027-.268-.29.165-.619.268-.973.268z"/><path d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 12c-5.351 0-7.424-3.846-7.926-5C4.578 10.842 6.652 7 12 7c5.351 0 7.424 3.846 7.926 5-.504 1.158-2.578 5-7.926 5z"/></svg></a>
                <button type="button" onclick="DeleteDocument({{document.id}})" class="btn btn-sm btn-icon dropdown-toggle hide-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z"/></svg></button>
              </div>
              {% endfor %}
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
          </div>
          <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                {% for document in costumer_obj.documnent.all %}
                <div class="swiper-slide" style="background-image: url({{document.file_image.url}})">
                
                </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <form action="{% url 'instalment_app:create_document' costumer_obj.id %}" id="CreateDocumentForm">
    <div class="row" id="files_inputs">
        <h1 style="text-align: center;">ثبت عکس جدید</h1>
      <div class="col-md-6">
        <div class="form-password-toggle" >
            <label class="form-label" for="basic-default-upload-file">مدارک</label>
            <input type="file" name="documentss" class="form-control" id="basic-default-upload-file" >
          </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
        
        
        <button class="btn btn-icon btn-label-primary" id="add-file">   <i class='bx bx-plus-medical'></i></button>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary me-sm-3 me-1" id="CreateDocumentBtn">   ثبت نهایی</button>
    </div>
</form>
    
    </div>
{% endblock content %}






{% block vendors %}
{% load static %}
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/animate-css/animate.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/select2/select2.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/tagify/tagify.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/bootstrap-select/bootstrap-select.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/sweetalert2/sweetalert2.css' %}">

<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}">
<script src="{% static 'frest_temp/vendor/libs/swiper/swiper.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
{% endblock vendors %}

{% block page_js %}
{% load static %}
<script src="{% static 'frest_temp/ProductiveJs/InstallMantManageMent/CostumerManageMent/CreateDocument.js' %}"></script>

<script src="{% static 'frest_temp/js/ui-carousel.js' %}"></script>
<script src="{% static 'frest_temp/js/extended-ui-sweetalert2.js' %}"></script>

{% endblock page_js %}
{% block css %}
{% load static %}
<script src="{% static 'frest_temp/js/forms-file-upload.js' %}"></script>
<script src="{% static 'frest_temp/js/ui-modals.js' %}"></script>
<script src="{% static 'frest_temp/js/forms-selects.js' %}"></script>
<script src="{% static 'frest_temp/js/forms-tagify.js' %}"></script>
<script src="{% static 'frest_temp/js/forms-typeahead.js' %}"></script>
<script src="{% static 'frest_temp/js/forms-pickers.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/select2/i18n/fa.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/tagify/tagify.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bootstrap-select/i18n/defaults-fa_IR.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bloodhound/bloodhound.js' %}"></script>
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/swiper/swiper.css' %}">

<!-- Page CSS -->
<link rel="stylesheet" href="{% static 'frest_temp/vendor/css/pages/ui-carousel.css' %}">

<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/sweetalert2/sweetalert2.css' %}">
{% endblock css %}









