{% extends 'Ib7Base.html' %}
{% block content %}
<input type="hidden" id="SliderImageManager" value="{% url 'ShopManageMentUrl:SliderImageManager' %}" >
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Layout Demo -->
    <br>
    <nav aria-label="breadcrumb" >
        <ol class="breadcrumb breadcrumb-style2 mb-0">
          <li class="breadcrumb-item">
            <a href="{% url 'HomePageUrl:HomePage' %}">خانه</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">مدریت فروشگاه</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">لیست تصاویر اسلایدر</a>
          </li>
     
        </ol>
      </nav>
      <br>
      <div class="card">
        <div class="modal fade" id="CreateCatThreeModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title secondary-font" id="modalCenterTitle">ایجاد دسته بندی جدید</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
             
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="" class="form-label">تصویر</label>
                                    <form action="{% url 'ShopManageMentUrl:AddSliderImageSession' %}" enctype="multipart/form-data"
                                      method="post" class="dropzone" id="dropzone-multi">
                                      {% csrf_token %}
                                      <div class="dz-message dz">
                                        عکس را اینجا رها کنید
                                        <span class="note dz">(768 * 1536) سایز عکس باید</span>
                                      </div>
                                      <div class="fallback">
                                        <input name="file" type="file">
                                      </div>
                    
                                    </form>
                    
                                  </div>

                        </div>
                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                بستن
                            </button>
                            <button type="submit" class="btn btn-primary" id="CreateSliderImageBtn">ذخیره تغییرات</button>
                        </div>
                 
                </div>
            </div>
        </div>
      
        <div class="card-header ">
          <h5  style="float:right;">لیست تصاویر اسلایدر</h5>
          <button type="button" class="btn rounded-pill btn-secondary" data-bs-toggle="modal"
          data-bs-target="#CreateCatThreeModal" style="float:left;">ایجاد مورد جدید <i
              class='bx bx-user-plus bx-tada'></i></button>
        </div>

        <div class="card-datatable text-nowrap">
          <table class="dt-scrollableTable table table-bordered">
            <thead>
              <tr>
                <th>شناسه</th>
                <th>تصویر</th>
         
          
                <th>عمل</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    <!--/ Layout Demo -->
  </div>
  {% endblock content %}

  {% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/datatables-select-bs5/select.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/datatables-fixedcolumns-bs5/fixedcolumns.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/datatables-fixedheader-bs5/fixedheader.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/animate-css/animate.css' %}">
<link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/select2/select2.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/tagify/tagify.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/bootstrap-select/bootstrap-select.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/sweetalert2/sweetalert2.css' %}">
{% endblock css %}
{% block page_js %}
{% load static %}
<!-- begin page js -->
<script src="{% static 'frest_temp/ShopJs/ShopManageMent/ShopSection/SliderImageList.js' %}"></script>
<!-- page js -->
<script src="{% static 'frest_temp/js/ui-modals.js' %}"></script>
<script src="{% static 'frest_temp/js/forms-selects.js' %}"></script>
<script src="{% static 'frest_temp/js/forms-tagify.js' %}"></script>
<script src="{% static 'frest_temp/js/forms-typeahead.js' %}"></script>

<script src="{% static 'frest_temp/vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/select2/i18n/fa.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/tagify/tagify.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bootstrap-select/i18n/defaults-fa_IR.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bloodhound/bloodhound.js' %}"></script>
<script src="{% static 'frest_temp/js/extended-ui-sweetalert2.js' %}"></script>
{% endblock page_js %}
{% block vendors %}
{% load static %}
<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables/i18n/fa.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-responsive/datatables.responsive.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-fixedcolumns/datatables.fixedcolumns.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-fixedheader-bs5/fixedheader.bootstrap5.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-select/datatables-select.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-select-bs5/select.bootstrap5.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
{% endblock vendors %}
