{% extends 'Ib7Base.html' %}
{% block content %}

<input type="hidden" id="GetCheckData" value="{% url 'instalment_app:CheckPeymentManager' %}">
<div class="container-xxl flex-grow-1 container-p-y">
  <!-- Layout Demo -->
  <br>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style2 mb-0">
      <li class="breadcrumb-item">
        <a href="{% url 'HomePageUrl:HomePage' %}">خانه</a>
   
      </li>
      <li class="breadcrumb-item">
        <a href="javascript:void(0);">امور مالی</a>
      </li>
      <li class="breadcrumb-item">
        <a href="javascript:void(0);">لیست چک ها</a>
      </li>


    </ol>
  </nav>

  {% for check_obj in chek_objs  %}
    


  <div class="modal fade" id="EditCheckPey_{{check_obj.id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
      <div class="modal-content p-3 p-md-5">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="text-center mb-4 mt-0 mt-md-n2">
            <h3 class="secondary-font">ویرایش چک</h3>
          </div>
          <form id="EditCheckPeyForm" class="row g-3" name="EditCheck_{{check_obj.id}}"
            action="{% url 'instalment_app:CheckPeymentManager' check_obj.id %}">


            {% csrf_token %}
         

            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUserFirstName">مبلغ </label>
              <input type="number" id="modalEditUserFirstName" required name="amount" value="{{check_obj.amount}}" class="form-control"
                placeholder="مبلغ ">

            </div>
            <input type="hidden" id="id_check" value="{{check_obj.id}}">
            <div class="col-12 col-md-6">
              <label class="form-label" for="flatpickr-date">صادر کنند</label>
              <input type="text"  name="check_owner" required class="form-control" value="{{check_obj.check_owner}}"
                placeholder="صادر کنند">
            </div>
            
            

            <div class="row g-2">
             

              <div class="col mb-0">
                <label class="form-label" for="flatpickr-date">دریافت کننده</label>
                <input type="text"  name="check_recaiver" required class="form-control" value="{{check_obj.check_recaiver}}"
                  placeholder="دریافت کننده ">
              </div>
              <!-- <div class="col mb-0">
                <label for="emailBackdrop" class="form-label" id="cash_pey_label_id">طرف حساب </label>
                <select class="select2 form-select mb-2" id="cash_pey_id" name="money_receiver">
  
                  {% for tailor in tailors %}
                  <option value="{{tailor.id}}">{{tailor.first_name}} {{tailor.last_name}}</option>
                  {% endfor %}
                </select>
              </div> -->
            </div>
           
        
            <div class="col-12 text-center mt-4">
              <button type="submit" class="btn btn-primary me-sm-3 me-1" id="EditCheckPeyBtn_{{check_obj.id}}">ثبت</button>
              <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">
                انصراف
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> 
  {% endfor %}
  <br>
  <div class="card">

    <div class="card-header ">

<!-- 
      <button type="button" data-bs-toggle="modal" data-bs-target="#twoFactorAuth"
        class="btn rounded-pill btn-secondary" style="float:left;">ایجاد مورد جدید <i
          class='bx bx-user-plus bx-tada'></i></button> -->
    </div>

    <div class="card-datatable text-nowrap">
      <table class="dt-scrollableTable table table-bordered">
        <thead>
          <tr>
            <th>شناسه</th>
            
            <th>مبلغ چک</th>
            <th>صادر کننده</th>
            <th>دریافت کننده</th>

            <th>تاریخ سررسید</th>

            <th></th>

          </tr>
        </thead>
      </table>
    </div>
  </div>
  <!--/ Layout Demo -->
</div>



{% endblock content %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/datatables-select-bs5/select.bootstrap5.css' %}">
<link rel="stylesheet"
  href="{% static 'frest_temp/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}">
<link rel="stylesheet"
  href="{% static 'frest_temp/vendor/libs/datatables-fixedcolumns-bs5/fixedcolumns.bootstrap5.css' %}">
<link rel="stylesheet"
  href="{% static 'frest_temp/vendor/libs/datatables-fixedheader-bs5/fixedheader.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/animate-css/animate.css' %}">

<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/select2/select2.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/tagify/tagify.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/bootstrap-select/bootstrap-select.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/sweetalert2/sweetalert2.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/select2/select2.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/tagify/tagify.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/bootstrap-select/bootstrap-select.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/sweetalert2/sweetalert2.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/flatpickr/flatpickr.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css' %}">
<link rel="stylesheet"
  href="{% static 'frest_temp/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/jquery-timepicker/jquery-timepicker.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/pickr/pickr-themes.css' %}">
<link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
{% endblock css %}
{% block page_js %}
{% load static %}
<!-- begin page js -->
<script src="{% static 'frest_temp/ProductiveJs/InstallMantManageMent/FactorManageMent/CheckPeymentList.js' %}"></script>
<!-- page js -->
<script src="{% static 'frest_temp/js/ui-modals.js' %}"></script>
<script src="{% static 'frest_temp/js/forms-selects.js' %}"></script>
<script src="{% static 'frest_temp/js/forms-tagify.js' %}"></script>
<script src="{% static 'frest_temp/js/forms-typeahead.js' %}"></script>

<script src="{% static 'frest_temp/vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/select2/i18n/fa.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/tagify/tagify.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bootstrap-select/i18n/defaults-fa_IR.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bloodhound/bloodhound.js' %}"></script>
<script src="{% static 'frest_temp/js/extended-ui-sweetalert2.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/select2/i18n/fa.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/tagify/tagify.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bootstrap-select/i18n/defaults-fa_IR.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bloodhound/bloodhound.js' %}"></script>
<script src="{% static 'frest_temp/js/extended-ui-sweetalert2.js' %}"></script>
<script src="{% static 'frest_temp/js/forms-pickers.js' %}"></script>
<script src="{% static 'frest_temp/js/modal-two-factor-auth.js' %}"></script>
{% endblock page_js %}
{% block vendors %}
{% load static %}
<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables/i18n/fa.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-responsive/datatables.responsive.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-fixedcolumns/datatables.fixedcolumns.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-fixedheader-bs5/fixedheader.bootstrap5.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-select/datatables-select.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-select-bs5/select.bootstrap5.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/sweetalert2/sweetalert2.js' %}"></script>


<script src="{% static 'frest_temp/vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/jdate/jdate.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/flatpickr/l10n/fa-jdate.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/jquery-timepicker/jquery-timepicker.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/pickr/pickr.js' %}"></script>
{% endblock vendors %}