{% extends 'Ib7Base.html' %}
{% block content %}
<input type="hidden" id="CategoryData" value="{% url 'ShopManageMentUrl:CategoryOneManager' %}">
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Layout Demo -->
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style2 mb-0">
            <li class="breadcrumb-item">
                <a href="{% url 'HomePageUrl:HomePage' %}">خانه</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">مدیریت محصولات</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">دسته بندی ها</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">لیست دسته بندی اول</a>
            </li>

        </ol>
    </nav>
    <br>
    <div class="card">  
        <div class="modal fade" id="CreateCatThreeModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title secondary-font" id="modalCenterTitle">ایجاد دسته بندی جدید</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'ShopManageMentUrl:CategoryOneManager' %}" id="CreateCatThreeForm">
                        <div class="modal-body">
                            <div class="row">
                                {% csrf_token %}
                                <div class="col mb-3">
                                    <label for="nameWithTitle" class="form-label">عنوان دسته بندی</label>
                                    <input type="text" name="title" id="nameWithTitle" class="form-control"
                                        placeholder="عنوان را وارد کنید" required>
                                </div>
                            </div>
                            <div class="col mb-3">
                                <label for="selectpickerSelectDeselect" class="form-label">انتخاب دسته بندی
                                    دوم</label>
                                <select id="selectpickerSelectDeselect" name="category_three"
                                    class="selectpicker w-100" data-style="btn-default" multiple
                                    data-actions-box="true">
                                    {% for category_two_obj in category_two_objs %}
                                    <option value="{{category_two_obj.id}}">{{category_two_obj.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                بستن
                            </button>
                            <button type="submit" class="btn btn-primary" id="CreateCatThreeBtn">ذخیره تغییرات</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-header ">
            <h5 style="float:right;">لیست دسته بندی اول</h5>
            <button type="button" class="btn rounded-pill btn-secondary" data-bs-toggle="modal"
                data-bs-target="#CreateCatThreeModal" style="float:left;">ایجاد مورد جدید <i
                    class='bx bx-user-plus bx-tada'></i></button>
        </div>

        <div class="card-datatable text-nowrap">
            <table class="dt-scrollableTable table table-bordered">
                <thead>
                    <tr>
                        <th>شناسه</th>
                        <th>عنوان</th>




                        <th>عمل</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    {% for category in categorys %}
    <div class="modal fade" id="EditCategoryThreeModal_{{category.id}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title secondary-font" id="modalCenterTitle">ایجاد تغییر در دسته بندی</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'ShopManageMentUrl:CategoryOneManager' category.id %}"
                    id="EditCatThreeForm_{{category.id}}">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-3">
                                <label for="nameWithTitle" class="form-label">عنوان دسته بندی</label>
                                <input type="text" name="title" id="nameWithTitle" class="form-control"
                                    placeholder="عنوان را وارد کنید" required value="{{category.title}}">
                            </div>


                        </div>
                        <div class="col mb-3">
                            <label for="selectpickerSelectDeselect" class="form-label">انتخاب دسته بندی
                                دوم</label>
                            <select id="selectpickerSelectDeselect" name="category_three"
                                class="selectpicker w-100" data-style="btn-default" multiple
                                data-actions-box="true">
                                {% for category_three_obj in category.cat_three_ids %}
                                {% if category_three_obj.selected == True %}
                                <option selected value="{{category_three_obj.id}}">{{category_three_obj.title}}</option>
                                {% else %} 
                                <option  value="{{category_three_obj.id}}">{{category_three_obj.title}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    {% csrf_token %}
                    <input type="hidden" id="cat_id" value="{{category.id}}">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                            بستن
                        </button>
                        <button type="button" class="btn btn-primary" id="EditCatThreeBtn_{{category.id}}"
                            onclick="EditCategory({{category.id}})">ذخیره تغییرات</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--/ Layout Demo -->
</div>
{% endblock content %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/bootstrap-select/bootstrap-select.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/datatables-select-bs5/select.bootstrap5.css' %}">
<link rel="stylesheet"
    href="{% static 'frest_temp/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}">
<link rel="stylesheet"
    href="{% static 'frest_temp/vendor/libs/datatables-fixedcolumns-bs5/fixedcolumns.bootstrap5.css' %}">
<link rel="stylesheet"
    href="{% static 'frest_temp/vendor/libs/datatables-fixedheader-bs5/fixedheader.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/animate-css/animate.css' %}">

<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/select2/select2.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/tagify/tagify.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/bootstrap-select/bootstrap-select.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/sweetalert2/sweetalert2.css' %}">
{% endblock css %}
{% block page_js %}
{% load static %}
<!-- begin page js -->
<script src="{% static 'frest_temp/ShopJs/ShopManageMent/CategoryManager/CategoryTwoList.js' %}"></script>
<!-- page js -->
<script src="{% static 'frest_temp/js/ui-modals.js' %}"></script>
<script src="{% static 'frest_temp/js/forms-selects.js' %}"></script>
<script src="{% static 'frest_temp/js/forms-tagify.js' %}"></script>
<script src="{% static 'frest_temp/js/forms-typeahead.js' %}"></script>

<script src="{% static 'frest_temp/vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/select2/i18n/fa.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/tagify/tagify.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bootstrap-select/i18n/defaults-fa_IR.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/bloodhound/bloodhound.js' %}"></script>
<script src="{% static 'frest_temp/js/extended-ui-sweetalert2.js' %}"></script>
{% endblock page_js %}
{% block vendors %}
{% load static %}
<script src="{% static 'frest_temp/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables/i18n/fa.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-responsive/datatables.responsive.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-fixedcolumns/datatables.fixedcolumns.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-fixedheader-bs5/fixedheader.bootstrap5.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-select/datatables-select.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-select-bs5/select.bootstrap5.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
{% endblock vendors %}