{% extends 'ShopBaseNew.html' %}


  
{% block content %}
{% load static %}
<main class="flex-grow bg-secondary-light pb-14 pt-36 dark:bg-primary-dark xs:pt-36">
  <div class="container pb-14">
    <div class="grid grid-cols-12 gap-2 lg:gap-6">
      <!-- breadCrumb -->
      <div class="col-span-12 rounded-lg bg-primary-light dark:bg-secondary-dark">
        <ol class="grid grid-cols-3 overflow-hidden rounded-lg">
          <li
            class="flex flex-col items-center justify-center gap-2 bg-tertiary-500/10 p-4 text-xs text-tertiary-500 dark:bg-tertiary-400/10 dark:text-tertiary-400 sm:text-sm md:text-base">
            <svg class="h-6 w-6 md:h-8 md:w-8">
              <use xlink:href="#cart" />
            </svg>
            <p class="leading-none">سبد خرید</p>
          </li>
          <li
            class="flex flex-col items-center justify-center gap-2 p-4 text-xs text-tertiary-500 opacity-50 dark:text-tertiary-400 sm:text-sm md:text-base">
            <svg class="h-6 w-6 md:h-8 md:w-8">
              <use xlink:href="#delivery-truck" />
            </svg>
            <p class="leading-none">شیوه پرداخت</p>
          </li>
          <li
            class="flex flex-col items-center justify-center gap-2 p-4 text-xs text-tertiary-500 opacity-50 dark:text-tertiary-400 sm:text-sm md:text-base">
            <svg class="h-6 w-6 md:h-8 md:w-8">
              <use xlink:href="#credit" />
            </svg>

            <p class="leading-none">پرداخت</p>
          </li>
        </ol>
      </div>

      <!-- Cart List -->
      <div class="col-span-12 md:col-span-8">
        <div class="rounded-lg bg-primary-light p-4 dark:bg-secondary-dark">
          <!-- Heading -->
          <h5 class="relative select-none pb-2 text-lg text-quaternary-200 dark:text-primary-light ">
            توجه داشته باشید انتخاب هر رنگ در هر محصول مبنی بر این است که شما تمام سایز های موجود آن رنگ را انتخاب کردید
            <span class="absolute bottom-0 right-0 h-0.5 w-full rounded-full bg-tertiary-500 dark:bg-tertiary-400"></span>
          </h5>
          <div class="flex items-center justify-between gap-x-2 pb-4">
            
            <h1
              class="flex items-center gap-x-4 text-sm text-quaternary-700 dark:text-primary-light xs:text-base md:text-lg">
              سبد خرید
              <span class="text-sm text-quaternary-500 dark:text-quaternary-400" id="count_card_main">
                ( {{count_card}} کالا )
              </span>
            </h1>
            <!-- <button type="button" class="btn-red-nobg px-3 py-2 text-sm">
              <span>
                <svg class="h-6 w-6">
                  <use xlink:href="#trash"></use>
                </svg>
              </span>
              <span>حذف همه</span>
            </button> -->
          </div>
          <ul class="divide-y divide-secondary-light dark:divide-primary-light/5">
            <!-- Cart Item-->
            {% for  card_object in card_objects  %}
            <li id="row_card_main_{{card_object.product_code}}_{{card_object.inventory_id}}">
              <div class="py-4 sm:py-6">
                <div
                  class="grid grid-cols-2 items-center justify-start gap-2 xs:grid-cols-3 xs:gap-6 sm:grid-cols-4 xl:grid-cols-6">
                  <!-- Image -->
                  <div class="relative row-span-2 min-w-fit xs:mx-auto">
                    <a href="#">
                      <img alt="" class="w-25 rounded-lg sm:w-28" src="{{card_object.product_image}}" />
                    </a>

                    <button onclick="deleteCardItemMain({{card_object.product_code}},{{card_object.inventory_id}})"
                      class="absolute -right-2 -top-2 flex h-8 w-8 items-center justify-center rounded-full bg-secondary-light dark:bg-primary-dark"
                      type="button">
                      <svg class="h-6 w-6 text-red-600 dark:text-red-500">
                        <use xlink:href="#close"></use>
                      </svg>
                    </button>
                  </div>
                  <!-- Detail -->
                  <div class="row-span-2 space-y-4 xs:col-span-2 sm:col-span-3 xl:col-span-5">
                    <!-- Title -->
                    <a class="line-clamp-2 text-sm text-quaternary-700 dark:text-primary-light xs:text-base" href="#">
                      {{card_object.product_title}}
                    </a>
                    <!-- Variant -->
                    <div class="flex items-center gap-x-2">
                      <span class="h-4 w-4 rounded-full" style="background:{{card_object.color_code}}"></span>
                      <span class="text-xs text-quaternary-600 dark:text-quaternary-300 xs:text-sm">
                        {{card_object.color_name}}</span>
                    </div>
                    <span class="text-sm">پک سایز:</span>
                    <br>
                    {% for size in card_object.size_list %}
                      
                    <span>{{size.size_name}}</span>
                    {% endfor %}
                    
                  </div>
                  <!-- Quantity -->
                  <div class="flex items-center gap-x-2 xs:justify-center">
                    <div
                      class="flex h-10 w-24 items-center justify-between gap-x-3 rounded-lg border border-secondary-light py-1 dark:border-primary-light/5 sm:w-28">
                      <button type="button" data-action="increment" onclick="incrementMain({{card_object.product_code}},{{card_object.inventory_id}})">
                        <svg class="h-5 w-5 text-tertiary-500 dark:text-tertiary-400 sm:h-6 sm:w-6">
                          <use xlink:href="#plus" />
                        </svg>
                      </button>
                      <input value="1" disabled type="number" id="inp_main_{{card_object.product_code}}_{{card_object.inventory_id}}"
                        class="flex h-5 w-5 w-full select-none items-center justify-center bg-transparent text-center text-sm font-medium text-quaternary-700 outline-none dark:text-primary-light sm:h-6 sm:w-6 sm:text-lg" />
                      <button type="button" data-action="decrement" onclick="decrementMain({{card_object.product_code}},{{card_object.inventory_id}})">
                        <svg class="h-5 w-5 text-red-600 dark:text-red-500 sm:h-6 sm:w-6">
                          <use xlink:href="#minus" />
                        </svg>
                      </button>
                    </div>
                  </div>
                  <!-- Price -->
                  <div
                    class="text-tertiary-500 dark:text-tertiary-400 xs:col-span-2 sm:col-span-3 lg:text-lg xl:col-span-5">
                    <span class="font-bold card_price" id="per_car_price_{{card_object.product_code}}_{{card_object.inventory_id}}">{{card_object.price_per_card}}</span>
                    <span class="text-sm lg:text-base">تومان</span>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
            <!-- Cart Item-->
        
          </ul>
        </div>
      </div>
      <!-- Cart Price Detail -->
      <div class="col-span-12 md:col-span-4">
        <!-- Desktop -->
        <div class="hidden rounded-lg bg-primary-light p-4 dark:bg-secondary-dark md:block">
          <div class="mb-2 divide-y divide-secondary-light dark:divide-primary-light/5">
            <!-- cart items price before discount - coupon -->
            <div class="flex items-center justify-between gap-x-2 py-6">
              <div class="text-sm text-quaternary-600 dark:text-quaternary-300 lg:text-base">
                قیمت کالا ها (2)
              </div>

              <div class="text-sm text-tertiary-500 dark:text-tertiary-400 lg:text-base">
                <span class="font-bold card_price"id="total_1">{{total_card_price}}</span>
                <span class="text-xs lg:text-sm">تومان</span>
              </div>
            </div>

            <!-- Discount -->
            <div class="flex items-center justify-between gap-x-2 py-6">
              <div class="text-sm text-quaternary-600 dark:text-quaternary-300 lg:text-base">
                تخفیف
              </div>

              <div class="text-sm font-medium text-red-500 dark:text-red-400 lg:text-base">
                <span class="font-bold card_price">0</span>
                <span class="text-xs lg:text-sm">تومان</span>
              </div>
            </div>
            <!-- Order final price -->

            <div class="flex items-center justify-between gap-x-2 py-6">
              <div class="text-sm text-quaternary-600 dark:text-quaternary-300 lg:text-base">
                مبلغ قابل پرداخت
              </div>

              <div class="text-sm text-tertiary-500 dark:text-tertiary-400 lg:text-base">
                <span class="font-bold card_price" id="total_2">{{total_card_price}}</span>
                <span class="text-xs lg:text-sm">تومان</span>
              </div>
            </div>
          </div>
          <div>
            <a href="{% url 'ShopUrl:PeymentMethod' %}" class="btn-primary py-3">
              ادامه فرایند خرید
            </a>
          </div>
        </div>
        <!-- Mobile -->
        <div
          class="fixed inset-x-0 bottom-0 flex items-center gap-x-6 rounded-t-2xl bg-primary-light p-4 dark:bg-secondary-dark md:hidden">
          <a class="btn-primary flex-grow py-3" href="{% url 'ShopUrl:PeymentMethod' %}">
            ادامه فرایند خرید</a>
          <div class="flex flex-col items-center gap-y-1">
            <div class="text-sm text-quaternary-500 dark:text-quaternary-400">
              مبلغ قابل پرداخت
            </div>
            <div class="text-quaternary-600 dark:text-quaternary-300">
              <span class="font-bold card_price" id="total_3">{{total_card_price}}</span>
              <span class="text-sm">تومان</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}



{% block page_js %}
{% load static %}


<script src="{% static 'frest_temp/vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
<script src="{% static 'frest_temp/js/extended-ui-sweetalert2.js' %}"></script>
<script src="{% static 'shop_temp/ShopJs/CardList.js' %}"></script>

{% endblock page_js %}



{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/sweetalert2/sweetalert2.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/fonts/boxicons.css' %}" />

{% endblock css %}