{% extends 'ShopBaseNew.html' %}



{% block content %}
{% load static %}

<input type="hidden" id="StateDetail" value="{% url 'instalment_app:StateDetail' %}">
<input type="hidden" id="stateManagerUrl" value="{% url 'ShopUrl:NetWorkerAddresManager' %}">
<input type="hidden" id="networker_id" value="{{networker_id}}">
<main class="flex-grow bg-secondary-light pb-14 pt-36 dark:bg-primary-dark xs:pt-36">
  <div class="container pb-14">
    <div class="grid grid-cols-12 gap-2 lg:gap-6">
      <!-- breadCrumb -->
      <div class="col-span-12 rounded-lg bg-primary-light dark:bg-secondary-dark">
        <ol class="grid grid-cols-3 overflow-hidden rounded-lg">
          <li
            class="flex flex-col items-center justify-center gap-2 p-4 text-xs text-tertiary-500 opacity-50 dark:text-tertiary-400 sm:text-sm md:text-base">
            <svg class="h-6 w-6 md:h-8 md:w-8">
              <use xlink:href="#check" />
            </svg>
            <p class="leading-none">سبد خرید</p>
          </li>
          <li
            class="flex flex-col items-center justify-center gap-2 bg-tertiary-500/10 p-4 text-xs text-tertiary-500 dark:bg-tertiary-400/10 dark:text-tertiary-400 sm:text-sm md:text-base">
            <svg class="h-6 w-6 md:h-8 md:w-8">
              <use xlink:href="#delivery-truck" />
            </svg>
            <p class="leading-none">شیوه ارسال</p>
          </li>
          <li
            class="flex flex-col items-center justify-center gap-2 p-4 text-xs text-tertiary-500 opacity-50 dark:text-tertiary-400 sm:text-sm md:text-base">
            <svg class="h-6 w-6 md:h-8 md:w-8">
              <use xlink:href="#credit" />
            </svg>

            <p class="leading-none">پرداخت</p>
          </li>
        </ol>
      </div>
      <!-- Content -->
      <div class="col-span-12 md:col-span-8">
        <div class="rounded-lg bg-primary-light p-4 dark:bg-secondary-dark">
          <!-- Address Section -->

          <div class="mb-6">
            <div class="flex items-center justify-between gap-x-2 pb-4">
              <h1
                class="flex items-center gap-x-4 text-sm text-quaternary-700 dark:text-primary-light xs:text-base md:text-lg">
                آدرس تحویل سفارش
              </h1>
              <button data-modal-target="address-add-modal" data-modal-toggle="address-add-modal"
                class="btn-primary-nobg px-3 py-2 text-sm">
                <span>
                  <svg class="h-6 w-6">
                    <use xlink:href="#address-add"></use>
                  </svg>
                </span>
                <span> آدرس جدید </span>
              </button>
            </div>

            <fieldset class="space-y-2">
              <legend class="sr-only">Address</legend>
              {% for addres in networker.addres.all %}
              <div>
                <input type="radio" name="address" value="{{addres.id}}" id="address-{{addres.id}}" class="peer hidden" />

                <label for="address-{{addres.id}}"
                  class="relative block cursor-pointer rounded-lg border border-secondary-light p-4 shadow-base peer-checked:border-tertiary-500 hover:border-senary-200 dark:border-primary-light/5 peer-checked:dark:border-tertiary-400 dark:hover:border-primary-light/10">
                  <div class="mb-4 flex items-center justify-between gap-x-2 sm:mb-2">
                    <p
                      class="line-clamp-2 h-10 text-sm text-quaternary-600 dark:text-quaternary-300 xs:text-base sm:line-clamp-1 sm:h-6">
                      استان {{addres.state.name}} شهر {{addres.city.name}} - {{addres.main_addres}}
                      پلاک {{addres.house_number}} </p>

                    <div class="hidden md:block">
                      <button id="dropdownMenuIconButton" data-dropdown-toggle="address-option-{{addres.id}}" type="button"
                        class="rounded-full p-1 text-quaternary-600 hover:bg-secondary-light dark:text-quaternary-300 hover:dark:bg-primary-dark">
                        <svg class="h-6 w-6">
                          <use xlink:href="#vertical-dot" />
                        </svg>
                      </button>
                      <!-- Dropdown menu -->
                      <div
                        class="z-10 !ml-5 hidden w-50 overflow-hidden rounded-lg border border-secondary-light bg-primary-light dark:border-primary-light/5 dark:bg-secondary-dark"
                        id="address-option-{{addres.id}}">
                        <ul class="space-y-2 p-2">
                          <li>
                            <button type="button" data-modal-target="address-edit-modal-{{addres.id}}"
                              data-modal-toggle="address-edit-modal-{{addres.id}}"
                              class="flex w-full items-center justify-between rounded-lg px-4 py-3 text-sky-500 hover:bg-sky-500/10 dark:text-sky-400 dark:hover:bg-sky-400/10">
                              <div class="flex items-center gap-x-2">
                                <svg class="h-6 w-6">
                                  <use xlink:href="#address-edit"></use>
                                </svg>
                                <span> ویرایش </span>
                              </div>
                            </button>
                          </li>
                          <li>
                            <button type="button" data-modal-target="address-delete-modal-1"
                              data-modal-toggle="address-delete-modal-{{addres.id}}"
                              class="flex w-full items-center justify-between rounded-lg px-4 py-3 text-red-500 hover:bg-red-500/10 dark:text-red-400 dark:hover:bg-red-400/10">
                              <div class="flex items-center gap-x-2">
                                <svg class="h-6 w-6">
                                  <use xlink:href="#address-delete"></use>
                                </svg>
                                <span> حذف </span>
                              </div>
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="flex items-center justify-between gap-x-2">
                    <p class="line-clamp-1 text-sm text-quaternary-500 dark:text-quaternary-400">
                      {{addres.first_name}} {{addres.last_name}}
                    </p>
                    <div class="flex items-center gap-x-2 md:hidden">
                      <button data-modal-target="address-delete-modal-{{addres.id}}" data-modal-toggle="address-delete-modal-{{addres.id}}"
                        class="btn-red-nobg px-3 py-1 text-sm xs:px-4 xs:py-2">
                        حذف
                      </button>
                      <button data-modal-target="address-edit-modal-{{addres.id}}" data-modal-toggle="address-edit-modal-{{addres.id}}"
                        class="btn-secondary-nobg px-3 py-1 text-sm xs:px-4 xs:py-2">
                        ویرایش
                      </button>
                    </div>
                  </div>
                </label>
              </div>
              {% endfor %}
            </fieldset>
          </div>
          <!-- Delivery Section -->

          <div>
            <div class="flex items-center justify-between gap-x-2 pb-4">
              <h2
                class="flex items-center gap-x-4 text-sm text-quaternary-700 dark:text-primary-light xs:text-base md:text-lg">
                شیوه ارسال
              </h2>
            </div>

            <fieldset class="grid grid-cols-1 gap-2 sm:grid-cols-2">
              <legend class="sr-only">Delivery</legend>

              <div>
                <input type="radio" name="delivery" value="delivery-1" id="delivery-1" class="peer hidden" />

                <label for="delivery-1"
                  class="relative block h-[116px] cursor-pointer rounded-lg border border-secondary-light p-4 shadow-base peer-checked:border-tertiary-500 hover:border-senary-200 dark:border-primary-light/5 peer-checked:dark:border-tertiary-400 dark:hover:border-primary-light/10">
                  <div class="mb-4 flex items-center justify-between gap-x-2 sm:mb-2">
                    <p class="line-clamp-1 text-sm text-quaternary-600 dark:text-quaternary-300 xs:text-base">
                      تیپاکس
                    </p>
                    <img src="./assets/images/others/tipax.png" alt="" class="w-25" />
                  </div>

                  <div class="mb-1 text-tertiary-500 dark:text-tertiary-400">
                    <span>60,000</span>
                    <span class="text-sm">تومان</span>
                  </div>

                  <div class="text-sm text-tertiary-500 dark:text-tertiary-400">
                    <span> رایگان بالای 500,000 </span>
                  </div>
                </label>
              </div>

              <div>
                <input type="radio" name="delivery" value="delivery-2" id="delivery-2" class="peer hidden" />

                <label for="delivery-2"
                  class="relative block h-[116px] cursor-pointer rounded-lg border border-secondary-light p-4 shadow-base peer-checked:border-tertiary-500 hover:border-senary-200 dark:border-primary-light/5 peer-checked:dark:border-tertiary-400 dark:hover:border-primary-light/10">
                  <div class="mb-4 flex items-center justify-between gap-x-2 sm:mb-2">
                    <p class="line-clamp-1 text-sm text-quaternary-600 dark:text-quaternary-300 xs:text-base">
                      تیپاکس
                    </p>
                    <img src="{% static 'shop_temp_new/images/others/tipax.png' %}" alt="" class="w-25" />
                  </div>

                  <div class="text-tertiary-500 dark:text-tertiary-400">
                    <span class="text-sm">پرداخت در مقصد</span>
                  </div>
                </label>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <!-- Cart Price Detail -->
      <div class="col-span-12 md:col-span-4">
        <!-- Desktop -->
        <div class="hidden rounded-lg bg-primary-light p-4 dark:bg-secondary-dark md:block">
          <div class="mb-2 divide-y divide-secondary-light dark:divide-primary-light/5">
            <!-- cart items price before discount - coupon -->
            <div class="flex items-center justify-between gap-x-2 py-6">
              <div class="text-sm text-quaternary-600 dark:text-quaternary-300 lg:text-base">
                قیمت کالا ها ({{count_card}})
              </div>

              <div class="text-sm text-tertiary-500 dark:text-tertiary-400 lg:text-base">
                <span class="font-bold card_price">{{total_card_price}}</span>
                <span class="text-xs lg:text-sm">تومان</span>
              </div>
            </div>
            <!-- Discount -->
            <div class="flex items-center justify-between gap-x-2 py-6">
              <div class="text-sm text-quaternary-600 dark:text-quaternary-300 lg:text-base">
                تخفیف
              </div>

              <div class="text-sm font-medium text-red-500 dark:text-red-400 lg:text-base">
                <span class="font-bold">0</span>
                <span class="text-xs lg:text-sm">تومان</span>
              </div>
            </div>
            <!-- delivery price -->
            <div class="flex items-center justify-between gap-x-2 py-6">
              <div class="text-sm text-quaternary-600 dark:text-quaternary-300 lg:text-base">
                هزینه ارسال
              </div>

              <!-- <div class="text-sky-500 dark:text-sky-400  text-sm lg:text-base">
                  <span class="font-bold">60,000</span>
                  <span class="text-xs lg:text-sm">تومان</span>
                </div> -->

              <!-- <div class="text-sky-500 dark:text-sky-400  text-sm lg:text-base">
                  <span class="font-bold">
                    پرداخت در مقصد
                  </span>
                </div> -->
              <div class="text-sm text-sky-500 dark:text-sky-400 lg:text-base">
                <span class="font-bold"> رایگان </span>
              </div>
            </div>

            <!-- Order final price -->

            <div class="flex items-center justify-between gap-x-2 py-6">
              <div class="text-sm text-quaternary-600 dark:text-quaternary-300 lg:text-base">
                مبلغ قابل پرداخت
              </div>

              <div class="text-sm text-tertiary-500 dark:text-tertiary-400 lg:text-base">
                <span class="font-bold card_price" >{{total_card_price}}</span>
                <span class="text-xs lg:text-sm">تومان</span>
              </div>
            </div>
          </div>
          <div>
            <a href="#" class="btn-primary py-3">
              ادامه فرایند خرید
            </a>
          </div>
        </div>
        <!-- Mobile -->
        <div
          class="fixed inset-x-0 bottom-0 flex items-center gap-x-6 rounded-t-2xl bg-primary-light p-4 dark:bg-secondary-dark md:hidden">
          <a class="btn-primary flex-grow py-3" href="#">
            ادامه فرایند خرید</a>
          <div class="flex flex-col items-center gap-y-1">
            <div class="text-sm text-quaternary-500 dark:text-quaternary-400">
              مبلغ قابل پرداخت
            </div>
            <div class="text-quaternary-600 dark:text-quaternary-300">
              <span class="font-bold card_price">{{total_card_price}}</span>
              <span class="text-sm">تومان</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Address Add modal -->
<div id="address-add-modal" tabindex="-1" aria-hidden="true"
  class="main-scroll fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0">
  <div class="relative max-h-full w-full max-w-2xl">
    <div
      class="divide-y divide-secondary-light overflow-hidden rounded-lg bg-primary-light shadow ring-1 ring-secondary-light dark:divide-primary-light/5 dark:bg-secondary-dark dark:ring-primary-light/5">
      <div class="px-4 py-5 sm:px-6">
        <div class="flex items-center justify-between">
          <h3 class="text-quaternary-700 dark:text-primary-light md:text-lg">
            ثبت آدرس جدید
          </h3>

          <button class="text-quaternary-700 dark:text-primary-light" data-modal-hide="address-add-modal" type="button">
            <svg class="h-5 w-5">
              <use xlink:href="#close" />
            </svg>

            <span class="sr-only">Close menu</span>
          </button>
        </div>
      </div>
      <div class="space-y-6 px-4 py-5 sm:p-6">
        <form action="{% url 'ShopUrl:NetWorkerAddresManager' %}" id="createAddresForm">
        <div class="grid grid-cols-2 gap-x-4 gap-y-5 sm:gap-6">
          <!-- Receiver name -->
            <div class="col-span-2 sm:col-span-1">
              <label for="name"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                <input type="text" id="name" name="first_name" required
                  class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                  placeholder="نام گیرنده" />

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">
                  نام گیرنده
                </span>
              </label>
            </div>
            <!-- Receiver family -->
            <div class="col-span-2 sm:col-span-1">
              <label for="family"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                <input type="text" id="family" name="last_name" required
                  class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                  placeholder="نام خانوادگی گیرنده" />

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">
                  نام خانوادگی گیرنده
                </span>
              </label>
            </div>
            <!-- Receiver Phone number -->
            <div class="col-span-2 sm:col-span-1">
              <label for="phoneNumber"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                <input type="number" id="phoneNumber" name="phone_number" required
                  class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                  placeholder="شماره تماس گیرنده" />

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">
                  شماره تماس گیرنده
                </span>
              </label>
            </div>
            <!-- Receiver National Code -->
            <div class="col-span-2 sm:col-span-1">
              <label for="nationalCode"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                <input type="number" id="nationalCode" name="meli_code" required
                  class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                  placeholder="کد ملی گیرنده" />

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">
                  کد ملی گیرنده
                </span>
              </label>
            </div>

            <!-- Receiver Address -->
{% csrf_token %}
            <!-- Receiver City -->
            <div class="col-span-2 sm:col-span-1">
              <label for="city"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                استان
                <select required name="state_code"
                  class="main-scroll peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light select-2"
                  id="state">

                  <option value="0" selected>یک استان انتخاب کنید</option>

                  {% for state in states %}

                  <option value="{{state.code}}" selected>{{state.name}}</option>
                  {% endfor %}


                  <!-- Add more options as needed -->
                </select>

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">

                </span>
              </label>
            </div>
            <!-- Receiver Province -->

            <div class="col-span-2 sm:col-span-1">
              <label for="city"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                شهر
                <select required name="city_code"
                  class="main-scroll peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light select-2"
                  id="city">
                  <option value="1" selected disabled>استان خود را انتخاب کنید</option>

                  <!-- Add more options as needed -->
                </select>

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">

                </span>
            </div>

            <div class="col-span-2">
              <label for="address"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                <textarea type="text" id="address" rows="3" name="main_addres" required
                  class="main-scroll peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                  placeholder="نشانی گیرنده"></textarea>

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">
                  نشانی گیرنده
                </span>
              </label>
            </div>
            <!-- Receiver Building Info -->

            <!-- Receiver Postal Code -->
            <div class="col-span-2 sm:col-span-1">
              <label for="postalCode" 
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                <input type="number" id="postalCode" required name="house_number"
                  class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                  placeholder="پلاک" />

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">
                  پلاک
                </span>
              </label>
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label for="postalCode"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                <input type="number" id="postalCode" name="postal_code" required
                  class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                  placeholder="کد پستی" />

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">
                  کد پستی
                </span>
              </label>
            </div>
        </div>
        <div class="flex justify-end">
          <button type="submit" id="createAddresBtn" class="btn-primary w-full px-4 py-2 md:w-auto">
            <span>
              <svg class="h-5 w-5">
                <use xlink:href="#address-add" />
              </svg>
            </span>
            <span> ثبت آدرس جدید </span>
          </button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Address Edit modal -->
{% for addres in networker.addres.all %}
  
<div id="address-edit-modal-{{addres.id}}" tabindex="-1" aria-hidden="true"
  class="main-scroll fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0">
  <div class="relative max-h-full w-full max-w-2xl">
    <div
      class="divide-y divide-secondary-light overflow-hidden rounded-lg bg-primary-light shadow ring-1 ring-secondary-light dark:divide-primary-light/5 dark:bg-secondary-dark dark:ring-primary-light/5">
      <div class="px-4 py-5 sm:px-6">
        <div class="flex items-center justify-between">
          <h3 class="text-quaternary-700 dark:text-primary-light md:text-lg">
            ویرایش آدرس
          </h3>

          <button class="text-quaternary-700 dark:text-primary-light" data-modal-hide="address-edit-modal-1"
            type="button">
            <svg class="h-5 w-5">
              <use xlink:href="#close" />
            </svg>

            <span class="sr-only">Close menu</span>
          </button>
        </div>
      </div>

      <div class="space-y-6 px-4 py-5 sm:p-6">
        <form action="{% url 'ShopUrl:NetWorkerAddresManager' addres.id %}" id="editAddresForm_{{addres.id}}">
        <div class="grid grid-cols-2 gap-x-4 gap-y-5 sm:gap-6">
          <!-- Receiver name -->
            <div class="col-span-2 sm:col-span-1">
              <label for="name"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                <input type="text" id="name" name="first_name" required value="{{addres.first_name}}"
                  class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                  placeholder="نام گیرنده" />

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">
                  نام گیرنده
                </span>
              </label>
            </div>
            <!-- Receiver family -->
            <div class="col-span-2 sm:col-span-1">
              <label for="family"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                <input type="text" id="family" name="last_name" required value="{{addres.last_name}}"
                  class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                  placeholder="نام خانوادگی گیرنده" />

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">
                  نام خانوادگی گیرنده
                </span>
              </label>
            </div>
            <!-- Receiver Phone number -->
            <div class="col-span-2 sm:col-span-1">
              <label for="phoneNumber"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                <input type="number" id="phoneNumber" name="phone_number" required value="{{addres.phone_number}}"
                  class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                  placeholder="شماره تماس گیرنده" />

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">
                  شماره تماس گیرنده
                </span>
              </label>
            </div>
            <!-- Receiver National Code -->
            <div class="col-span-2 sm:col-span-1">
              <label for="nationalCode"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                <input type="number" id="nationalCode" name="meli_code" required value="{{addres.meli_code}}"
                  class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                  placeholder="کد ملی گیرنده" />

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">
                  کد ملی گیرنده
                </span>
              </label>
            </div>

            <!-- Receiver Address -->
{% csrf_token %}
            <!-- Receiver City -->
            <div class="col-span-2 sm:col-span-1">
              <label for="city"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                استان
                <select required name="state_code"
                  class="main-scroll peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light select-2"
                  id="state">

                  <option value="{{addres.state.code}}" selected>{{addres.state.name}}</option>

                  {% for state in states %}
               
           
                  <option value="{{state.code}}" >{{state.name}}</option>
              
                  {% endfor %}


                  <!-- Add more options as needed -->
                </select>

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">

                </span>
              </label>
            </div>
            <!-- Receiver Province -->

            <div class="col-span-2 sm:col-span-1">
              <label for="city"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                شهر
                <select required name="city_code"
                  class="main-scroll peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light select-2"
                  id="city">
                  <option value="{{addres.city.code}}" selected >{{addres.city.name}}</option>

                  <!-- Add more options as needed -->
                </select>

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">

                </span>
            </div>

            <div class="col-span-2">
              <label for="address"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                <textarea type="text" id="address" rows="3" name="main_addres" required 
                  class="main-scroll peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                  placeholder="نشانی گیرنده">{{addres.main_addres}}</textarea>

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">
                  نشانی گیرنده
                </span>
              </label>
            </div>
            <!-- Receiver Building Info -->

            <!-- Receiver Postal Code -->
            <div class="col-span-2 sm:col-span-1">
              <label for="postalCode" 
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                <input type="number" id="postalCode" required name="house_number" value="{{addres.house_number}}"
                  class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                  placeholder="پلاک" />

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">
                  پلاک
                </span>
              </label>
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label for="postalCode"
                class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5">
                <input type="number" id="postalCode" name="postal_code" required value="{{addres.postal_code}}"
                  class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                  placeholder="کد پستی" />

                <span
                  class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300">
                  کد پستی
                </span>
              </label>
            </div>
        </div>
        <div class="flex justify-end">
          <button type="button" id="editAddresBtn" onclick="editAddres({{addres.id}})" class="btn-primary w-full px-4 py-2 md:w-auto">
            <span>
              <svg class="h-5 w-5">
                <use xlink:href="#address-add" />
              </svg>
            </span>
            <span> ثبت آدرس جدید </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="address-delete-modal-{{addres.id}}" tabindex="-1" aria-hidden="true"
class="main-scroll fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0">
<div class="relative max-h-full w-full max-w-md">
  <div
    class="divide-y divide-secondary-light overflow-hidden rounded-lg bg-primary-light shadow ring-1 ring-secondary-light dark:divide-primary-light/5 dark:bg-secondary-dark dark:ring-primary-light/5">
    <div class="px-4 py-5 sm:px-6">
      <div class="flex items-center justify-between">
        <h3 class="text-quaternary-700 dark:text-primary-light md:text-lg">
          حذف آدرس
        </h3>

        <button class="text-quaternary-700 dark:text-primary-light" data-modal-hide="address-delete-modal-1"
          type="button">
          <svg class="h-5 w-5">
            <use xlink:href="#close"></use>
          </svg>

          <span class="sr-only">Close Modal</span>
        </button>
      </div>
    </div>
    <div class="space-y-6 px-4 py-5 sm:p-6">
      <p class="text-quaternary-600 dark:text-quaternary-300">
        آیا از حذف این آدرس اطمینان دارید؟
      </p>
      <div class="flex items-center justify-end gap-x-4">
        <button class="btn-secondary px-4 py-2 text-sm" data-modal-hide="address-delete-modal-{{addre.id}}" type="button">
          انصراف
        </button>
        <button class="btn-red px-4 py-2 text-sm" type="button" onclick="deleteAddres({{addres.id}})">
          حذف آدرس
        </button>
      </div>
    </div>
  </div>
</div>
</div>
{% endfor %}

{% endblock content %}



{% block page_js %}
{% load static %}


<script src="{% static 'frest_temp/vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
<script src="{% static 'frest_temp/js/extended-ui-sweetalert2.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'frest_temp/vendor/libs/select2/i18n/fa.js' %}"></script>
<script src="{% static 'shop_temp/ShopJs/PeymentMethods.js' %}"></script>

{% endblock page_js %}



{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/sweetalert2/sweetalert2.css' %}">
<link rel="stylesheet" href="{% static 'frest_temp/vendor/fonts/boxicons.css' %}" />
<link rel="stylesheet" href="{% static 'frest_temp/vendor/libs/select2/select2.css' %}">
<!-- Include Select2 -->

{% endblock css %}